{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{#
{{form(form)}}

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }} 

    {{ form_label(form.iban, null, { 'label_attr': { 'class': 'form-label'}}) }}
    {{ form_widget(form.iban) }} #}
